name: update
on:
  workflow_dispatch:
jobs:
  nix-update:
    name: Update lockfile
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          ssh-key: ${{ secrets.DEPLOY_SECRET_KEY }}
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Run nvfetcher
        run: |
          export LANG=en_US.UTF-8
          export LC_ALL=en_US.UTF-8
          nix run nixpkgs#nvfetcher
      - name: Run flake update
        run: nix flake update
      - name: Run fmt
        run: nix fmt
      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git add .
          git commit -m "chore(nix): Update lockfile and Apply nix fmt"
          git push origin HEAD
